html, body {
    height: 100%;
    font-weight: normal;
	overflow-y:hidden;
}

body {
}

a { color:#949494;text-decoration:underline !important; }
a:hover { color:#a0a0a0; }
	
.main-logo {
	background-image:url('/assets/lentach.png');
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-size:100% 100%;
	height:150px;
	width:150px;
	margin:0px auto;
}

#application {
}
#auth-required {
    height: 100%;
}

.navbar { padding-top:25px;padding-bottom:20px; }
.navbar-nav { flex-direction:row; }
.navbar-brand { font-weight:500;margin-left:15px;border-right:2px solid #e0e0e0;padding-right:30px;margin-right:35px;color:#000;text-decoration:none !important; }
.navbar-toggler-icon { display:none; }

.navbar.bg-light {
    background-color: #ffffff !important;
	padding:0px !important;
}

.navbar .nav-link { margin-right:35px !important; }
.navbar .nav-link.active { color:#000 !important;font-weight:500; }

.navbar .row { width:100%; }

.sidebar.bg-dark {
    background: linear-gradient(to right, #793460 95%, #000000 110%);
}

.col-main {
	padding:0px !important;
}

.sidebar {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 0px 0px 20px 0px;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item + .nav-item {
    margin-left: 0;
}

#navbarsExampleDefault { display:inline-block !important;flex-basis:0; }

.nav-trash { margin-left:15px;position:absolute;bottom:30px; }
.nav-trash .nav-link { border-top:1px solid rgba(255,255,255,0.5);margin-right:15px;padding-left:45px !important;background-repeat:no-repeat;background-size:25px 25px;background-position:10px 50%;background-image:url('/assets/trash_white.png'); }
.nav-trash .nav-link.active { border-top:1px solid rgba(0,0,0,0);margin-right:0px;background-image:url('/assets/trash_black.png'); }
.nav-trash .stage-counter { display:none; }

.stage-counter { display:inline-block;border-right:2px solid rgba(255,255,255,0.25);width:25px;margin-right:15px;font-weight:700; }
.nav-link.active .stage-counter { border-right:2px solid rgba(0,0,0,0.25); }

.sidebar .nav-link {
    border-radius: 0;
	margin-left:15px;
	padding:12px 15px;
}

.nav-item a { text-decoration:none !important; }

.sidebar .nav-item a {
    font-size: 15px;
    color: #ffffff;
}

.sidebar .nav-item .nav-link.active {
	background-color:#e5e5e5;
	color:#000;
}


.views, .navs, .sections {
    display: none;
	overflow-y: hidden;
}
.views.views-active, .navs.navs-active, .sections.sections-active {
    display: block;
}

.article-preview {
	box-sizing:border-box;
    position: relative;
    cursor: pointer;
 	background: transparent !important;
	border:0px !important;
	padding:20px 35px 20px 30px;
	border-bottom:2px solid #ccc !important;
}
.article-preview-active {
	background:rgba(255,255,255,0.3) !important;
}
.article-preview.article-preview-active:after {
    content: '';
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.article-preview .article-active-corner { display:none;background:#ccc;width:22px;height:22px;line-height:1px;font-size:1px;transform:translateX(-50%) translateY(-50%) rotate(45deg); }
.article-preview-active .article-active-corner { display:inline-block;position:absolute;right:-22px;top:50%; }

.article-preview-time {
    font-size: 13px; line-height: 15px; color: #949494;
}
.article-preview-title {
    font-size: 16px; line-height: 1.3em; font-weight: 500; padding: 5px 0;
}
.article-preview-text {
    font-size: 14px; line-height: 1.3em; color: #777777;
	width:75%;
	overflow-x:hidden;
}
.article-preview-controls {
    position: absolute;
    right: 35px;
    bottom: 17px;
	white-space:nowrap;
}
.article-preview-controls * {
	vertical-align:middle;
}
.article-preview-rating {
	display:inline-block;
}
.article-preview-rating-down {
	color:#dc3545;
	margin-right:10px;
}
.article-preview-rating-up {
	color:#28a745;
}
.article-preview-remove-button {
	display:inline-block;
    cursor: pointer;
    opacity: 0.6;
    z-index: 100;
	margin-right:10px;
	border:0px !important;
	width:20px;height:20px;
	background-image:url("/assets/trash_red.png");
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:50% 50%;
}
.article-preview-remove-button:hover {
	background-color:rgba(0,0,0,0) !important;
}
.article-preview-sender {
    float: right;
	margin-left:15px;
}


.article-list-col {
	background:linear-gradient(to right,#e5e5e5 98%,#cccccc 105%);
	padding-right:0px !important;
}
.article-list {
	height:100%;
	box-sizing:border-box;
	overflow-y:scroll;
	overflow-x:hidden;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.workflow { padding:30px 30px; }

.article-full {
	background:#cccccc !important;
}
.article-full-title {
    outline: none;
	display: inline;
}
.article-full-time {
    font-size: 14px;
    line-height: 16px;
    color: #949494;
    padding: 5px 0;
}
.article-full-text {
    padding: 0 0 5px 0;
    font-size: 15px;
    line-height: 1.4em;
    color: #464646;
    outline: none;
	display: inline;
}
.article-editable-outer {
}
.article-full-controls {
    padding: 15px 0 25px 0;
	border-bottom: 2px solid #b0b0b0;
	margin-bottom:25px;
}
.article-full-controls button {
    margin-right: 5px;
    cursor: pointer;
}
.article-full-controls button:last-child {
    margin-right: 0;
}
.article-full-controls button.btn-right {
    float: right;
    margin: 0 2px;
    min-width: 35px;
    max-width: 35px;
}

.article-full-save-button { background:#008001 !important;padding:8px 20px;border-radius:0px;font-size:16px;font-weight:500;border:0px !important;margin-right:10px !important; }
.btn-info { background:#793460 !important;padding:8px 20px;border-radius:0px;font-size:16px;font-weight:500;border:0px !important;margin-right:10px !important; }
.btn-danger { border-radius:0px;background:#e5e5e5;padding:8px 10px;border:0px !important;margin-right:10px !important; }
.btn-outline-danger { border-radius:0px;background:#e5e5e5;padding:8px 10px;border:0px !important;margin-right:10px !important; }
.btn-outline-success { border-radius:0px;background:#e5e5e5;padding:8px 10px;border:0px !important; }
.article-full-rate-button { border-radius:0px;background:#e5e5e5;padding:8px 10px;border:0px !important; }
.article-full-rate-button.btn-danger { background:#dc3545 !important; }
.article-full-rate-button.btn-success { background:#28a745 !important; }

.content-empty { padding:30px;padding-left:30px; }

.header-profile { float:right;margin-top:35px;margin-right:40px; }

.edit-small { display:inline-block;margin-left:6px;width:14px;height:14px;background-repeat:no-repeat;background-position:50% 50%;background-size:100% 100%;background-image:url('/assets/edit_purple.png'); }

