.popup-container {
    width: 100%;
	white-space:nowrap;
    background-color: #ffffff;
}
.popup-button-wrapper {
    text-align: center;
}
.popup-button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 16px;
    background-color: #45668e;
    color: #ffffff;
    text-align: center;
    border-radius: 10px;
    border: 0;
	cursor:pointer;
}
.button-auth {
	background-image:url("/assets/vk.png");
	background-repeat:no-repeat;
	background-size:30px auto;
	background-position:20px 50%;
	padding-left:65px !important;
}
.button-control {
	background-image:url("/assets/comment.png");
	background-repeat:no-repeat;
	background-size:30px auto;
	background-position:20px 50%;
	padding-left:65px !important;
}
